/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root{
  --first-color: #4070F4;
  --second-color: #0E2431;
}

/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background:linear-gradient(45deg, #01195a, #275df3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:linear-gradient(45deg, #275df3, #01195a);

}
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}


.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}
.nav__item{
  margin-bottom: var(--mb-4);
}
.nav__link{
  position: relative;
  color: #fff;
}
.nav__link:hover{
  position: relative;
  color: #4070F4;
}

.nav__logo{
  border-bottom: 0.1rem solid #4070F4;
  font-family:Lobster;
  padding: 0.3rem 0.4rem;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--first-color);
}
.nav__logo:hover{
  border: 0.1rem solid #4070F4;
  padding: 0.4rem 0.3rem;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--first-color);
}
.nav__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/

/*=== Show menu ===*/
.show{
  right: 0;
}

/*===== HOME =====*/
.home{
  row-gap: 1rem;
}
.home__data{
  align-self: center;
}
.home__title{
  font-size: 1.5rem;
  margin-bottom: var(--mb-5);
}
.home__title-color{
  color: var(--first-color);
  font-size: 3rem;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
}
.home__social{
  display: inline;
  
}
.home__social-icon{
  width: max-content;
  margin-bottom: var(--mb-2);
  color: var(--second-color);
}
.home__social-icon:hover{
  color: var(--first-color);
}
.home__img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}

/*BUTTONS*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 1rem;
  
}
.button:hover{
  
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* ===== ABOUT =====*/
.about__container{
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle{
  margin-bottom: var(--mb-2);
}
.about__img{
  justify-self: center;
}
.about__img img{
  width: 6rem;
  height: 32rem;
  border-radius: .5rem;
}

/* ===== SKILLS =====*/
.container{
  margin:0  ;
}
.skills_title{
  margin-bottom: 3rem;
}
.skills__container{
  row-gap: 2rem;
  text-align: center;
}
.skills__subtitle{
  margin-bottom: var(--mb-2);
}
.skills__text{
  margin-bottom: var(--mb-4);
}
.skills__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-3);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(169, 208, 248, 0.363);
}
.skills__icon{
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills__names{
  display: flex;
  align-items: center;
}
.skills__bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}
.skills__html{
  width: 100%;
}
.skills__css{
  width: 100%;
}
.skills__js{
  width: 100%;
}
.skills__ux{
  width: 100%;
}
.skills__img{
  border-radius: .5rem;
}
.python_icon{
  filter: hue-rotate(90deg);
  padding-right: 0.3rem;
}
/* ====Experience=== */
.exp_container{
  text-align: center;
}
.experience{
  background: url(/img/exp_back2.jpg) center;
  background-size: cover;
  background-attachment: fixed;
}
.exp_content_title{
  color: #f1f1f1;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  border-bottom: 1px solid #f1f1f1;
}
.exp_content{
  color: #f1f1f1;
  font-size: 1rem;
  font-weight: 400;
}

/* Quote */
.quote{
  background: linear-gradient(45deg, rgba(1, 1, 44, 0.466), rgba(0, 0, 12, 0.514)),url(/img/work8.jpg);
  background-attachment: fixed;
  background-size: cover;

}
.quote_h2{
  color: #f1f1f1; 
  padding-top: 2rem;
  text-align: center;
}
.quote_h3{
  color: #f1f1f1;
  padding: 1rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

/* ===== WORK =====*/
.work__container{
  row-gap: 2rem;
}
.work__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  padding: 1.3rem 0.2rem;
  min-height: 18rem;
  overflow: hidden;
  background:linear-gradient(90deg, rgb(7, 156, 214), rgb(2, 113, 187));
  background-size: cover;
  transition: 0.5s !important;
  transform-style: preserve-3d;
}

.work__img:hover .work_social_icon i {
  transform: rotateZ(-360deg) scale(1.12, 1.12);
  transition: 0.7s ease;
}
.work__img:hover .work_title {
  transform: scale(1.08, 1.1);
  z-index: 2;
  margin-left: 0.1rem;
  transition: 1s ease;
}
.work__img:hover{
  transform: scale(1.1, 1.1) !important;
  transition: 0.5s ease-in-out;
}
.work_title{
  font-weight: 900;
  font-size: 1rem;
  color: #f1f1f1;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 0.5rem;
}
.work_desc{
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  color: #0c0549;
}
.work_caption{
  color: #f1f1f1;
  font-size: 0.9rem;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.6rem;
}
.work_social_icon{
  color: #0b0431;
  font-size: 2rem;
  padding: 0 0.3rem;
}

/* ===== CONTACT =====*/
.contactform_container{
  background:linear-gradient(90deg, rgb(2, 30, 187), rgb(32, 182, 241));
  box-shadow: 0 4px 25px rgba(169, 208, 248, 0.363);
  border-radius: 0.5rem;
}
.form_info{
  background: #ffffff;
  box-shadow: 0.2rem 1.2rem 1.2rem 0.8rem rgba(2, 0, 27, 0.363);
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  margin: 1.5rem 1.9rem;
}
.form_info_title{
  text-align: center;
  color: #02237c;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  margin-top: 1rem;
}
.form_info_data{
  padding: 3rem 2rem;
  text-align: center;
  font-size: 1.09rem;
  font-weight: 500;
}
.hire-me_info{
  text-align: center;
  margin-bottom: 2rem;
}
.hire_button{
  display: inline-block;
  background-color: #072b99;
  color: #fff;
  padding: .65rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 2rem;
}
.hire_button:focus{
  transform: scale(1, 0.89) !important;
}

.contact{
  background: url(/img/back3.jpg) center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 1rem;
}
.contact__input{
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button{
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}
.contact-form{
  align-items: center;
}
.contact-form input, textarea{
  padding: 0.70rem 2rem;
  border: none;
  width: 70% ;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(2, 0, 27, 0.363);
  margin-bottom: 1rem;
  margin-left: 3rem;
  border-radius: 2rem;
  display: block;
}
.contact-form input:focus, textarea:focus{
  border: none;
  outline: none;
}
.mail_title{
  color: #01195a !important;
  letter-spacing: 0.3rem;
  word-spacing: 0.5rem;
  font-size: 1.7rem;
  font-family: Tahoma, Geneva, Cochin, Georgia, Times, 'Times New Roman', serif ;
  margin: 0 7rem;
  margin-top: 0.2rem;
}
.form_button{
  display: inline-block;
  border: none;
  margin: 0 7rem;
  margin-bottom: 1rem;
  background-color:#072b99;
  color:#fff;
  padding: .65rem 4rem;
  outline: none;
  font-weight: var(--font-semi);
  border-radius: 2rem;
}
.form_button:hover{
  transform: scale(1.08, 1.08) !important;
}
.form_button:focus{
  top: 1%;
  transform: scale(1, 1) !important;
  outline: none;
}
/* ===== FOOTER =====*/
.footer{
  background: url(/img/back3.jpg) center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title{
  font-size: 1rem;
  margin-bottom: var(--mb-4);
}
.footer__social{
  margin-bottom: var(--mb-4);
}
.footer__icon{
  font-size: 2rem;
  color: #fff;
  margin: 0 var(--mb-5)
}
.footer__icon:hover{
  border-bottom: 1px solid #f1f1f1;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--second-color);
  }

  .home{
    height: 85vh;
  }
  .home__data{
    align-self: flex-end;
    margin-bottom: 7rem;
  }
  .home__social{
    padding-top: 0;
  }
  .home__social-icon{
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img{
    width: 457px;
    bottom: 15%;
  }

  .about__container, .skills__container, .contactform_container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img{
    width: 320px;
  }
  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
  }
 
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .home__img{
    right: 10%;
  }
}
@media screen and (max-width: 700px){
  .about__img{
    display: none;
  }
  .home__img{
    display: none;
  }
  .footer__icon{
    display: inline;
    margin: 0 var(--mb-1)
  }
  .footer{
    background: url(/img/back3.jpg) center;
    background-size: cover;
    background-attachment: fixed;
  }
  .contact{
    background: url(/img/back3.jpg) center;
    background-size: cover;
    background-attachment: fixed;
  }
  .home__social-icon{
    color: var(--second-color);
    margin-left: 0.9rem;
    margin-bottom: 0;
  }
  .contact-form input, textarea{
    width: 80%;
    padding: 0.70rem 3rem;
    margin-left: 2rem;
  }
  .contact__info{
    margin: 0 1.9rem;
  }
  .form_button{
    margin-bottom: 1.2rem;
    margin-left: 4rem;
  }
  .mail_title{
    letter-spacing: 0;
    white-space: 0;
    text-align: center;
  }
  .text{
    font-size: 1.5rem !important;
    line-height: 4rem !important;
  }
}

/* ================================Extra CSS====================================== */
/* Intro */
.intro {
  background: #0c0549;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background: rgb(8, 152, 224);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  text-align: center;
}
.text{
  font-size: 3rem;
  line-height: 6rem;
  word-spacing: 1rem;
}

.hide {
  background: #0c0549;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}